.bg-main{
    
    background: linear-gradient(rgb(155, 122, 252) 20%, rgb(46, 28, 97) 80%, #000  100%);

    padding-bottom: 2rem;
}

img{
    width: 100%;
}

a{
    color: #333;
    text-decoration: none;
}

.content-spacing{
    margin-bottom: 3rem;
}

.nopads{
    padding: 0 ;
}

.nav-login{
    justify-self: flex-end;
    padding: .5rem;
}

.lModalBtn{
    padding-top: 1rem;
    
    & .col {
        padding: 0;
    }
}

.carousel-item > img{
    max-height: 800px;
}

.carousel-custom{
    overflow: hidden;
    border-radius: 1rem;
}

.carousel-progress{
    height: 15px;
}

.card-ranking{
    border: none;
}

